@import url(./reset.css);

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
