@import url(./reset.css);

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.disclaimer {
  font-size: 18px;
  font-weight: 500;
  color: #ff6242;
  margin-top: 40px;
  margin-bottom: -30px;
}

.navegation {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.navegation button {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #38b6ff;
  background: transparent;
  padding: 15px 24px;
  border: 2px solid #38b6ff;
  border-radius: 30px;
  height: auto;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

@media (max-width: 340px) {
  .navegation {
    flex-direction: column;
    gap: 20px;
  }
}
